@media (max-width: 855px) {
    .header__media-link {
        display: none;
    }

    .header-desktop__center {
        justify-content: center !important;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --text-size-tiny: 10px !important;
        --text-size-extra-small: 12px !important;
        --text-size-small: 14px !important;
        --text-size-medium: 16px !important;
        --text-size-large: 24px !important;
        --text-size-extra-large: 32px !important;
    }

    .body--active {
        min-height: 100vh;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height: fill-available;
        overflow-y: hidden;

        .logo__img-wrapper {
            .logo__text {color: var(--text-primary-color-light);}
            img {filter: invert(100%)};
        }

        .header {
            position: fixed;
            inset: 0;
            z-index: 100000;
    
            background-color: white;
    
            width: 100%;
            height: 100%;
            overflow-y: hidden;
        }

        .header-nav {
            display: block;
            margin-top: 48px;
            opacity: 1;
        }

        .burger-wrapper {
            padding: 6px;
            
            .burger {
                position: relative;
            }
    
            .burger span {
                width: 16px;
                background-color: black;

                &:nth-child(1) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    rotate: -45deg;
                    translate: -50% -50%;
                    transition: translate .7s, rotate .7s;
                }
                &:nth-child(2) {
                    display: none;
                    transition: display 1s ease-in;
                }
                &:nth-child(3) {
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    rotate: 45deg;
                    translate: 50% -50%;
                    transition: translate .7s, rotate .7s;
                }
            }
        }
    }

    html, body {
        height: 100%;
    }

    body .btn {
        --btn-text-size: var(--text-size-small);
        line-height: 100% !important;
        border: 1px solid var(--btn-border-color);
        border-radius: 4px !important;

        min-width: 84px;
        padding: var(--btn-text-size) 32px;
    }

    p {
        font-size: var(--text-size-small);
    }

    h1 {
        font-size: var(--text-size-extra-large);
    }

    section {
        padding: 32px 0 !important;
    }

    .section__title {
        font-size: var(--text-size-large);
        margin-bottom: 32px;
    }

    .header {
        position: relative;
        padding: 16px 0 32px 0;
    }

    .header-top {
        display: flex;
        position: relative;
        height: 70px;
    }

    .logo-wrapper {
        position: absolute;
        left: 50%;
        translate: -50% 0;
    }

    .header--active {
        position: fixed;
        inset: 0;
        z-index: 100000;

        background-color: white;

        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    .header-nav {
        display: none;
        opacity: 0;
    }

    .header-nav--active {
        display: block;
        margin-top: 48px;
        opacity: 1;
    }

    .header-nav-list {
        display: flex;
        flex-direction: column;

        row-gap: 32px;
    }

    .burger-wrapper {
        margin-top: 16px;
        width: 24px;
        height: 24px;
        padding: 4px 3px;
        position: fixed;

        cursor: pointer;

        .burger {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
            span {
                background-color: white;
                transition: translate .7s, rotate .3s, display .5s ease-in;
            }
        }

        &--active:hover, &:hover {
            .burger span {
                background: var(--brand-color);
            }
        }

        &--active {
            padding: 6px;
            
            .burger {
                position: relative;
            }
    
            .burger span {
                width: 16px;
                background-color: black;

                &:nth-child(1) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    rotate: -45deg;
                    translate: -50% -50%;
                    transition: translate .7s, rotate .7s;
                }
                &:nth-child(2) {
                    display: none;
                    transition: display 1s ease-in;
                }
                &:nth-child(3) {
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    rotate: 45deg;
                    translate: 50% -50%;
                    transition: translate .7s, rotate .7s;
                }
            }
        }

        span {
            width: 100%;
            height: 2px;
            background-color: black;
        }
      }

    header {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: var(--text-size-large);
        line-height: 24px;

        color: var(--text-primary-color-light)
    }

    .header-mobile {
        display: block !important;
    }

    .header-desktop {
        display: none !important;
    }

    .header .container {
        height: 100%;
    }

    .logo__img-wrapper {
        display: block;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .logo-wrapper {
        width: 70px;
        max-height: 64px;
        display: flex;
        flex-direction: column;

        .logo__text {
            display: block;
            width: 100%;
            margin-top: 6px;
            color: var(--text-primary-color-dark);

            font-family: 'Courgette', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: var(--text-size-tiny);
            line-height: 10px;
            text-align: center;
        }
    }

    .social-media-links {
        position: absolute;
        bottom: 32px;
        display: flex;
        column-gap: 24px;
    }

    .container {
        width: min(87%, 768px) !important;
        margin: 0 auto;
    }

    #hero {
        height: 80% !important;
    }

    .hero-content {
        width: 100%;
    }

    .hero-slide__content {
        top: 50% !important;
    }

    .hero-slide__content h1 {
        max-width: 100% !important;
    }

    .hero-slide p {
        padding: 16px 0 32px 0 !important;
        line-height: 24px !important;
    }

    body #hero .media-slider {
        translate: 0 50% !important;
        left: 5% !important;
    }

    .media-slider__link a {
        font-size: var(--text-size-tiny);
    }

    .media-slider__link {
        width: 100% !important;
    }

    .media-slider__body {
        height: 160px !important;
    }

    .media-slider__footer {
        left: -5% !important;
    }

    .media-slider__controls {
        display: none !important;
    }

    #about {
        margin-top: 100px !important;
        font-size: var(--text-size-small);
        line-height: 24px;
        margin-top: 90px;
        padding: 40px 0 80px 0 !important;
        position: relative;
        overflow: hidden;
        margin-bottom: 0;

        .section__title {
            margin-bottom: 16px !important;
        }

        h2 {
            margin-bottom: 16px;
        }

        h3 {
            font-size: var(--text-size-large);
            line-height: 100%;
        }
    
        p {
            line-height: 175% !important;
        }

        p:not(:last-child) {
            margin-bottom: 8px;
        }

        .section__body {
            display: block !important;
        }

        .section__right {
            width: 100% !important;
        }

        .about-img-wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
        
            margin-inline: auto;
          }
        
          .about-img {
            display: block;
            height: 210px;
            width: 240px;
          }
        
          .section__right h3 {
            margin: 32px 0 8px 0;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            translate: 30% 40%;
            width: 160px;
            height: 160px;
            background-image: url("/src/images/graphics/points-in-box.svg");
          }
    }

    #team {
        .section__title {
            margin-bottom: 40px;
        }
        .section__body span {
            width: 100%;
            display: block;
            margin-bottom: 3px;
            font-style: normal;
            font-weight: 400;
            font-size: var(--text-size-large) !important;
        }
        .section__body p {
            font-size: var(--text-size-small) !important;
            line-height: var(--text-size-large) !important;
        }
        .section__body {
            position: static;
        }
        min-height: 252px;
        padding: 32px 0;
    }

    #training {
        padding: 80px 0 !important;
    
        .section__title {
            margin-bottom: 24px;
        }

        .training-actions {
            display: none !important;
        }

        .training-card {
            padding: 16px !important;
        }
    
        .section__body {
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px !important;
            line-height: 24px !important;
            display: block !important;
        }
    
        .training-cards {
            max-width: 100% !important;
            margin-bottom: 40px;
            row-gap: 8px !important;
        }
    
        .training-card {
            width: 100%;
            padding: 16px 16px !important;
            line-height: 22px;
        }
    
        .training-card span {
            font-size: var(--text-size-small);
            line-height: 100%;
        }
    
        .training-card p:first-child {
            margin-bottom: 8px !important;
        }
    
        .training__time {
            display: block;
            line-height: 22px;
        }
    
        ul {
            margin: 24px 0 24px 2ch !important;
        }
    
        .training-info {
            max-width: 100% !important;
            line-height: 24px !important;
        }
    
        .training-info-wrapper {
            display: block !important;
            margin-bottom: 32px !important;
        }
    
        .training-map {
            height: 200px !important;
            overflow: scroll;
        }
  }

  #join {
    font-size: 16px;
    line-height: 100%;
    padding: 32px 0;

    .section__body {
        display: block !important;
    }

    img {
        display: block;
        width: 100%;
        height: 300px !important;
        margin: 32px auto !important;
    }

    form {
        max-width: 100% !important;
    }

    form > input {
        padding: 12px 16px !important;
    }

    form > button[type="submit"] {
        font-size: var(--text-size-medium);
    }
  }

  #sponsors {
    margin-bottom: 0;
    padding: 80px 0 !important;

    .section__title {
        margin-bottom: 32px;
    }

    hr {
        border: 1px solid var(--sponsors-card-divider-color);
        height: 1px !important;
        width: 80px;
        margin: 20px auto;
    }

    .sponsors-cards {
        display: block !important;
    }

    .sponsors-card {
        display: block;
        width: 170px;
        height: 170px;
        margin: 0 auto;
        object-fit: cover;
    }
  }

  #contacts {
    padding: 0 0 40px 0 !important;

    .section__body {
        display: block !important;
    }

    .contacts-card {
        padding: 24px 32px;
        font-size: var(--text-size-medium);
        line-height: 150%;
        max-width: 100% !important;
    
        img {
            width: 24px;
            height: 24px;
        }
    }

    .contacts-card:not(:last-child) {
        margin-bottom: 14px;
    }

    .contacts-cards {
        margin-bottom: 32px;
        padding-right: 0 !important;
    }
  }

  footer {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-size-small);
    line-height: 100%;

    .footer__body {
        padding: 24px 0 !important;
        align-items: start !important;
    }

    .footer__center {
        display: block !important;
        line-height: 100% !important;
      }

    .footer__center nav ul {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
    }

    .footer-media-links {
        margin-top: 24px;
        display: grid !important;
        column-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-media-links img {
        width: 14px;
        height: 14px;
    }

    .footer__left img {
        width: 64px;
        height: 52px;
    }

    .footer-flags {
        display: block !important;
    }

    .footer-flags picture:first-child {
        margin-bottom: 8px;
    }

    .footer-flags picture {
        width: 44px;
        height: 28px;
    }
  }

  .image-backdrop img {
    left: 0;
    translate: 0 -50%;
  }
}

#facebook-widget {
    margin-inline: auto !important;
}