:root {
    --text-primary-color-light: hsl(0, 0%, 0%);
    --text-primary-color-dark: hsl(0, 0%, 100%);

    --brand-color: hsl(176, 44%, 45%);
    --warning-color: hsl(49, 91%, 62%);
}


$light-text-color: hsl(0, 0%, 100%);
$dark-text-color: hsl(0, 0%, 0%);

$primary-color: hsl(176, 44%, 45%);
$warning-color: hsl(49, 91%, 62%);

$light-primary-color: hsl(180, 32%, 93%);
$light-warning-color: hsl(47, 93%, 94%);
$light-danger-color: hsl(0, 80%, 94%);

$change-img-color-primary: invert(59%) sepia(8%) saturate(2616%) hue-rotate(127deg) brightness(94%) contrast(86%);